@font-face {
  font-family: "ZEISS Frutiger Next UI W05", "Helvetica Neue", system-ui,
    sans-serif;
  src: url(assets.zeiss.com);
}
* {
  box-sizing: border-box;
}
.file-upload-container {
  margin: 20px;
  font-family: "ZEISS Frutiger Next UI W05", "Helvetica Neue", system-ui,
    sans-serif;
}

label {
  font-weight: bold;
  font-family: "ZEISS Frutiger Next UI W05", "Helvetica Neue", system-ui,
    sans-serif;
}

select,
input[type="file"] {
  display: block;

  margin-top: 10px;

  padding: 8px;

  font-size: 14px;

  font-family: "ZEISS Frutiger Next UI W05", "Helvetica Neue", system-ui,
    sans-serif;

  font-weight: bold;
}

input[type="file"] {
  cursor: pointer;
}
#fileType {
  font-family: "ZEISS Frutiger Next UI W05", "Helvetica Neue", system-ui,
    sans-serif;
  font-weight: bold;
}
p {
  margin-top: 10px;

  font-size: 14px;
}

.dropzone {
  border: 2px dashed #ccc;

  border-radius: 4px;

  padding: 5vh 5vw;

  text-align: center;

  cursor: pointer;

  margin-top: 10px;

  background-color: #f9f9f9;
}

.dropzone:hover {
  background-color: blue;
  color: white;
}

.dropzone.active {
  border-color: #333;
  background-color: #f1f1f1;
}

.file-input {
  display: none;
}

.file-label {
  display: block;

  cursor: pointer;
}
option[value="Upgrade request"] {
  font-family: "ZEISS Frutiger Next UI W05", "Helvetica Neue", system-ui,
    sans-serif;
}
option[value="Activation request"] {
  font-family: "ZEISS Frutiger Next UI W05", "Helvetica Neue", system-ui,
    sans-serif;
}
option[value="Revocation proof"] {
  font-family: "ZEISS Frutiger Next UI W05", "Helvetica Neue", system-ui,
    sans-serif;
}
option[value="Repair request"] {
  font-family: "ZEISS Frutiger Next UI W05", "Helvetica Neue", system-ui,
    sans-serif;
}
option[value="Return request"] {
  font-family: "ZEISS Frutiger Next UI W05", "Helvetica Neue", system-ui,
    sans-serif;
}
